body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color: #333;
    color: white;
  }
  
  .nav {
  }
  
  li {
    list-style: none;
  }

  .die {
    background-color: black;
    border: 1px solid red;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ccc;
    float: left;
    width: 80px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
  }

  #reset {
    margin-right: 0px;
    width: 58px;
    font-weight: normal;
    font-size: 1.25rem;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .results {
    clear: both;
    color: white;
    font-size: 2rem;
  }


  .result {
    float: left;
    padding: 10px;
  }

  .rolls {
    float: right;
    font-size: 1.5rem;
  }

  ol, ul {
    padding-left: 0px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  